*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  padding: 0px;
}
.bookreserve-section {
    background-color:#ffffff;
    padding: 0px !important;
    padding: 150px 0px !important;
    position: relative;
}
.bookreserve-content{
   text-align: left;
   padding: 0px 20px 0px;
 }
 .bookreserve-content h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #f22e3e;
 }
 .bookreserve-content h2{
    font-weight: 700;
    font-size: 2.5rem;
 }
 .bookreserve-content p{
    font-size: 1.5rem;
    color:#777777;
 }
 .bookreserve-img img{
   height:630.59;
   width: 100%;
   border-radius: 40px;
 }
 .reserve-address {
   padding: 0px 20px;
 }
 .reserve-address p{
   color: #777777;
   font-size: 1.2rem;
 }